.profile__wrapper {
  width: 750px;
  max-width: 100%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}

.profile__header {
  width: 100%;
  background: var(--color-secondary);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: 1px solid var(--color-primary);
}

.profile__avatar {
  width: 7rem;
  height: 7rem;
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  box-shadow: 0 0 0 10px var(--color-primary);
}

.profile__username {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-textPrimary);
}

.profile__bio {
  font-size: 0.8rem;
  color: var(--color-textSecondary);
}

.profile__posts {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  margin: 1rem 0;
}

.profile__post {
  height: 230px;
  background-position: center;
  background-size: cover;
}

.profile__withoutphoto {
  font-size: 1.5rem;
  margin-top: 2rem;
  color: var(--color-textSecondary);
}

@media (max-width: 666px) {
  .profile__posts {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 400px) {
  .profile__posts {
    grid-template-columns: 1fr;
  }
}
